body 
h1{
    color:red;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 300%;
    font-stretch: wider;
}
p{
    color: mediumaquamarine;
    font-family: serif;
    font-style: italic;
    font-weight: 900;
    font-size: larger;
    font-stretch: extra-expanded;
}